h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    display: flex;
    justify-content: right;
    align-content: center;
    margin-top: 70px;
    color: #48cae4;
}

h2 {
    font-family: 'Dancing Script', cursive;
    display: flex;
    /* margin-top: -270pt;
    margin-right: -600pt; */
    color: #0096c7;
}

h3 {
    color: #0077b6;
    font-family: 'Merriweather', serif;
}

a {
    color: #00b4d8;
    font-family: 'Merriweather', serif;
}

body {
    background-color: black;
    color: #EEEDED;
    transition: all 2s;
}

body.switch {
    background-color:#EEEDED;
    /* background-color: white; */
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
    
}

header {
    margin: 0 auto 2em auto;
    transition: all 2s;
}

#banner {
    display: flex;
    width: 1400px;
    height: 650px;
    margin: auto;
    overflow: hidden;
	place-items: center;
    background-image: url(images/darkmap.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50% -1%;
}

#banner.switch {
    background-image: url(images/lightmap.svg);
    transition: all 2s;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

main section {
    width: 90%;
    border: 1px rgb(235, 235, 235) dashed;
    margin: 0.5em;
    padding: 1em;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1em;
    display: inline-block;
    padding: .5em;
    background: linear-gradient(to right, #f9b4ed, #9381ff) no-repeat right bottom;
    background-size: 0 2px;
    background-position-y: 80%;
    transition: background-size 1300ms;
}

section a:hover {
    background-position-x: left;
    background-size: 100% 2px;
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: orange;
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: coral;
    cursor: pointer;
}

button.switch {
    background-color: rgb(235, 235, 235);
    border-color: #333;
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235)
}

footer{
    color: #87d4e4;
    display: flex;
    justify-content: center;
    align-content: center;
}

@media only screen and (min-width: 600px) {
    header{
        margin-right: 20pt;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-content: center;
        align-content: center;
    }

    main section {
        width: 90%;
        border: 1px rgb(235, 235, 235) dashed;
        padding: 1em;
    }

    #banner {
        display: flex;
        width: 700px;
        height: 450px;
        margin: auto;
        overflow: hidden;
        place-items: center;
        background-image: url(images/darkmap.png);
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: 50% -1%;
    }
    
}

@media only screen and (min-width: 1000px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        justify-content: center;
        align-content: center;
        /* padding: auto auto; */
    }

    main section {
        width: 90%;
        border: 1px rgb(235, 235, 235) dashed;
        /* margin: 0 .25em; */
        padding: 1em;
    }

    #banner {
        display: flex;
        width: 1100px;
        height: 650px;
        margin: auto;
        overflow: hidden;
        place-items: center;
        background-image: url(images/darkmap.png);
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: 50% -1%;
    }
    
}